.container{
    background-color: #f8e1e1;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 20px #7c7b7b;
    border-radius: 8%;
    position: absolute;
    margin-left: 411px;
}

.ferb_face{
    width: 50px;
    height: 267px;
    background-color: #FDE1C3;
    margin: 100px auto;
    width: 60px;
    border-style: solid ; 
    border-color: #D28700;
    border-bottom: none;
    transform: rotate(5deg);
}

.ferb_nose{
    width: 45px;
    height: 63px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-right: none;
    margin: 100px -47px;
    border-radius: 39% 0 0 39%;
}

.ferb_mouth{
    width: 12px;
    height: 12px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-right-style: none;
    border-radius: 100% 0 0 9%;
    margin: 111px 31px;
    
}