body{
    background-color: #f8e1e1;
}

.container{
    background-color: #ffffff;
    width: 500px;
    height: 93%;
    margin: auto;
    margin-top: 14px;
    box-shadow: 10px 10px 20px #7c7b7b;
    border-radius: 8%;
    position: absolute;
    margin-left: 32%;
}

.ferb_face {
    position: sticky;
    width: 50px;
    height: 313px;
    background-color: #FDE1C3;
    margin: 100px auto;
    width: 60px;
    border-style: solid;
    border-color: #D28700;
    border-bottom: none;
    transform: rotate(4deg);
    z-index: 15;
}

.ferb_nose{
    width: 60px;
    height: 63px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-right: none;
    margin: 55px -33px;
    border-radius: 39% 0 0 39%;
}

.ferb_mouth{
    width: 12px;
    height: 12px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-right-style: none;
    border-radius: 100% 0 0 9%;
    margin: 111px 44px;
    
}

.ferb_ear{
    width: 23px;
    height: 26px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-left-style: none;
    border-radius: 62% 100% 100% 57%;
    margin: -98px 66px;
}

.ear_culs1{
    width: 5px;
    height: 4px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-left-style: none;
    border-radius: 0% 96% 100% 77%;
    margin: -208px 121px;
}
.ear_culs2{
    width: 5px;
    height: 0px;
    background-color: #FDE1C3;
    border-color: #D28700;
    border-style: solid;
    border-left-style: none;
    border-radius: 0% 64% 100% 9%;
    border-width: medium;
    margin: -8px -2px;
    transform: rotate(-28deg);
}
.ferb_left_eye{
    width: 54px;
    height: 75px;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    margin: 74px -30px;
    border-radius: 100%;
}
.ferb_right_eye{
    width: 43px;
    height: 50px;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    margin: 27px 8px;
    border-radius: 100%;
}
.dote__right_bl{
    width: 6px;
    height: 7px;
    background-color: #00457D;
    border-color: #000000;
    border-style: solid;
    margin: 15px 17px;
    border-radius: 100%;
}
.dote__left_bl{
    width: 6px;
    height: 7px;
    background-color: #00457D;
    border-color: #000000;
    border-style: solid;
    margin: -34px -65px;
    border-radius: 100%;
}
.dote_shine__right_bl{
    width: 2px;
    height: 2px;
    background-color: #fcfcfc;
    border-style: solid;
    margin: -2px -1px;
    border-radius: 100%;
}
.dote_shine__left_bl{
    width: 2px;
    height: 3px;
    background-color: #ffffff;
    border-style: solid;
    margin: -2px -1px;
    border-radius: 100%;
}
.col1 {
    width: 37px;
    height: 40px;
    background-color: #ffffff;
    margin: -24% 38%;
    border-style: solid;
    border-color: black;
    transform: rotate( -46deg );
    border-top-style: none;
    border-right-style: none;
}
.col2 {
    position: inherit;
    width: 40px;
    height: 39px;
    background-color: white;
    margin: 16% 47%;
    border-style: solid;
    border-color: black;
    z-index: 63;
    transform: rotate( -58deg );
    border-top-style: none;
    border-right-style: none;
}
.col0 {
    position: inherit;
    width: 101px;
    height: 2px;
    background-color: black;
    margin: -21% 36%;
    border-style: solid;
    border-color: black;
    z-index: 92;
}
.hair1{
    width: 132px;
    border-top: 29px solid #25A345;
    border-radius: 40px 40px 0 0;
    height: 96px;
    left: 116px;
    bottom: 61px;
    margin: -215px -46px;
    transform: rotate(-12deg);
}
.hair4{
    width: 135px;
    border-top: 28px solid #25A345;
    border-radius: 50px 40px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: 65px -66px;
    transform: rotate(30deg);
}
.hair2{
    width: 100px;
    border-top: 24px solid #25A345;
    border-radius: 50px 40px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: 80px -56px;
    transform: rotate(14deg);
}


.hair3{
    width: 100px;
    border-top: 20px solid #25A345;
    border-radius: 37px 40px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: -181px 9px;
    transform: rotate(-38deg);
}
.hair5{
    width: 100px;
    border-top: 20px solid #25A345;
    border-radius: 30px 41px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: -163px -4px;
    transform: rotate(-38deg);
}
.hair6{
    width: 100px;
    border-top: 15px solid #25A345;
    border-radius: 37px 49px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: 51px 1px;
    transform: rotate(-38deg);
}
.hair7{
    width: 55px;
    border-top: 15px solid #25A345;
    border-radius: 37px 51px 0 0;
    height: 77px;
    left: 180px;
    bottom: 40px;
    margin: -172px 27px;
    transform: rotate(-101deg);
}
